body{
    font-family: 'Space Grotesk', sans-serif;
    background-color: #ffeedf;
}

header{
    color: #145434;
    width: 100%;
    height: 60px;
    font-size: 36px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #145434;
}
.material-symbols-outlined {
    font-size: 36px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

#root{
    max-width: 1200px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
}

.card{
    height: 250px;
    width: 450px;
    background-color: #145434;
    color: #ffeedf;
    box-sizing: border-box;
    padding: 30px;
}

.card > span{
    display: block;
    width: 40px;
    height:40px;
    font-size: 24px;
    border-radius: 50%;
    background-color: #ffeedf;
    color: #145434;
    border: 1px solid #145434;
    transform: translate(-120%, -120%);
    text-align: center;
    line-height: 40px;
}
.text-flex{
    height: 100%;
    width: 100%;
    transform: translateY(-40px);

}

.title{
    height: 80px;

    padding: 10px 0;
    line-height: 40px;
    font-size: 36px;
    border-bottom: 2px solid #ffeedf;
}

.sub{
    margin-top: 10px;
    height: 25px;
    line-height: 25px;
    font-size: 18px;
}

.text{
    height: 25px;
    line-height: 25px;
    font-size: 18px;
    font-weight: bold;
}

button{
    transform:translate(115%, -95%);
    width: 200px;
    height: 50px;
    font-size: 14px;
    background-color: #ffeedf;
    border: 2px solid #145434 ;
    color: #145434;

}

button>span{
    display: block;
    position: absolute;
    width: 36px;
    transform: translate(100%, -30%);
    color: #145434;
}

button:hover{
    background-color: black;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


@media screen and (max-width: 500px) {
    .card{
        margin-right: 25px;
        margin-left: 25px;
    }
    button{
        position: absolute;
        right: 245px;

    }
}